*.pyc
common/ipython/README
common/ipython/profile_default/db/
common/ipython/profile_default/history.sqlite
common/ipython/profile_default/startup/
common/ipython/profile_default/static/
common/matplotlib/fontList.cache
platform/osx/alfred/Alfred.alfredpreferences/workflows/alfred-github-workflow
