*.pyc
*.log
common/ghc/ghci_history
common/ghc/x86_64-darwin-*
common/ipython/README
common/ipython/profile_default/db/
common/ipython/profile_default/history.sqlite
common/ipython/profile_default/log/
common/ipython/profile_default/startup/README
common/ipython/profile_default/static/
common/ipython/profile_haskell/
common/matplotlib/fontList.cache
common/mpv/watch_later
platform/osx/alfred/Alfred.alfredpreferences/workflows/alfred-github-workflow
common/config/stetic/library-cache/
common/config/config-store
common/config/gcloud
common/config/configstore/update-notifier-npm4-check-updates.json
common/config/configstore/update-notifier-npm-check-updates.json
common/config/configstore/update-notifier-npm.json
common/config/xbuild/
common/config/hub
