common/config/nvim
*.log
*.pyc
common/config/.mono/keypairs/
common/config/config-store
common/config/configstore
common/config/gcloud
common/config/gocode/config.json
common/config/hub
common/config/karabiner/automatic_backups
common/config/mdt/keys/mdt.key
common/config/stetic/library-cache/
common/config/truffle/
common/config/xbuild/
common/config/yarn/
common/fonts/.uuid
common/ghc/ghci_history
common/ghc/x86_64-darwin-*
common/ipython/README
common/ipython/profile_default/db/
common/ipython/profile_default/history.sqlite
common/ipython/profile_default/log/
common/ipython/profile_default/startup/README
common/ipython/profile_default/static/
common/ipython/profile_haskell/
common/matplotlib/fontList.cache
common/matplotlib/fontList.json
common/mpv/watch_later
platform/osx/alfred/Alfred.alfredpreferences/workflows/alfred-github-workflow
